<!-- ========================================================= MODALS =========================================================  -->

<!-- Add Employee Modal -->
<div id="employeeAdd" class="modal fade" tabindex="-1" aria-labelledby="employeeAdd">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box" id="circleAdd">
                    <i class="fas fa-user-plus" id="circleAddIcon"></i>
                </div>
                <h4 class="modal-title w-100">Add employee</h4>
            </div>
            <div class="modal-body">
                <form class="login100-form validate-form flex-sb flex-w"
                    action="{{ url_for('employees.add_employee') }}" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <!-- title -->
                    <span class="login100-form-title p-b-32 text-center">
                        Register
                    </span>

                    <div class="row row-space">
                        <!-- first name -->
                        <div class="col-2">
                            <label class="txt1 p-b-11" for="first_name">First name</label>
                            <div class="wrap-input100 input-group validate-input" data-validate="Invalid name">
                                <input class="input100" type="text" name="first_name" id="first_name">
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                        <!-- last name -->
                        <div class="col-2">

                            <label class="txt1 p-b-11" for="last_name">Last name</label>
                            <div class="wrap-input100 input-group validate-input" data-validate="Invalid name">
                                <input class="input100" type="text" name="last_name" id="last_name">
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                    </div>

                    <!-- email -->
                    <label class="txt1 p-b-11" for="email">Email</label>
                    <div class="wrap-input100 input-group validate-input m-b-30" data-validate="Invalid email">
                        <input class="input100" type="text" name="email" id="email">
                        <span class="focus-input100"></span>
                    </div>

                    <!-- passwords -->
                    <div class="row row-space">
                        <div class="col-2">
                            <label class="txt1 p-b-11" for="password">Password</label>
                            <div class="wrap-input100 input-group validate-input" data-validate="Invalid password">
                                <input class="input100" type="password" name="password" id="password">
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="txt1 p-b-11" for="password_confirm">Confirm password</label>
                            <div class="wrap-input100 input-group validate-input" data-validate="Invalid password">
                                <input class="input100" type="password" name="password_confirm" id="password_confirm">
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                    </div>

                    <!-- errors -->
                    <div class="message">
                        <span class="error_message">{{ message }}</span>
                    </div>

                    <!-- login -->
                    <div class="container-login100-form-btn m-t-15">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <input class="login100-form-btn" id="submit" name="submit" type="submit" value="Register">
                        </div>
                    </div>
                </form>


                <form action="{{ url_for('employees.add_employee') }}" method="post" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <!-- first name -->
                    <div class="mb-3">
                        <input type="text" name="first_name" id="first_name" class="form-control form-control-sm"
                            placeholder="First name" required>
                    </div>

                    <!-- last name -->
                    <div class="mb-3">
                        <input type="text" name="last_name" id="last_name" class="form-control form-control-sm"
                            placeholder="Last name" required>
                    </div>

                    <!-- email -->
                    <div class="mb-3">
                        <input type="email" name="email" id="email" class="form-control form-control-sm"
                            placeholder="Email" required>
                    </div>

                    <!-- phone number -->
                    <div class="mb-3">
                        <input type="text" name="phone_number" id="phone_number" class="form-control form-control-sm"
                            placeholder="Phone number">
                    </div>

                    <!-- job -->
                    <div class="mb-3">
                        <select id="job_title" name="job_title" class="form-control form-control-sm">
                            <option>Jobs</option>
                            {% for job in jobs %}
                            <option value="{{ job.title }}">{{ job.title }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- buttons -->
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-warning">Add</button>
                        <button type="button" class="btn" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% for employee in employees %}

<!-- Employee Details Modal -->
<div id="employeeDetails{{employee.id}}" class="modal fade" tabindex="-1"
    aria-labelledby="employeeDetails{{employee.id}}">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box" id="circleDetails">
                    <i class="fas fa-info-circle" id="circleDetailsIcon"></i>
                </div>
                <h4 class="modal-title w-100">Employee details</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <td>{{ employee.id }}</td>
                    </tr>
                    <tr>
                        <th>First name</th>
                        <td>{{ employee.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last name</th>
                        <td>{{ employee.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email ID</th>
                        <td>{{ employee.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                            {% if employee.phone_number %}
                            {{ employee.phone_number }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Job</th>
                        <td>
                            {% if employee.job %}
                            {{ employee.job }}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn" id="cancelButton" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Update Employee -->
<div id="employeeUpdate{{employee.id}}" class="modal fade" tabindex="-1"
    aria-labelledby="employeeUpdate{{employee.id}}">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box" id="circleEdit">
                    <i class="fas fa-edit" id="circleEditIcon"></i>
                </div>
                <h4 class="modal-title w-100">Update employee {{employee.first_name}}</h4>
            </div>

            <div class="modal-body">
                <!-- edit form -->
                <form action="{{ url_for('employees.update_employee', employee_id=employee.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <!-- first name -->
                    <div class="mb-3">
                        <label for="first_name">First name</label>
                        <input type="text" name="first_name" id="first_name" class="form-control form-control-sm"
                            value="{{ employee.first_name }}" required>
                    </div>

                    <!-- last name -->
                    <div class="mb-3">
                        <label for="last_name">Last name</label>
                        <input type="text" name="last_name" id="last_name" class="form-control form-control-sm"
                            value="{{ employee.last_name }}" required>
                    </div>

                    <!-- email -->
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control form-control-sm"
                            value="{{ employee.email }}" required>
                    </div>

                    <!-- phone number -->
                    <div class="mb-3">
                        <label for="phone_number">Phone number</label>
                        <input type="text" name="phone_number" id="phone_number" class="form-control form-control-sm"
                            value="{% if employee.phone_number %} {{ employee.phone_number }} {% else %}{% endif %}">
                    </div>

                    <!-- job -->
                    <div class="mb-3">
                        <label for="job_title">Job</label>
                        <select name="job_title" id="job_title" class="form-control form-control-sm">
                            {% if employee.job %}
                            <option value="{{ employee.job }}" selected disabled>{{ employee.job }}</option>
                            {% else %}
                            <option selected disabled>Select job</option>
                            {% endif %}

                            {% for job in jobs %}
                            <option value="{{ job.title }}">{{ job.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- buttons -->
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn" id="updateButton">Update</button>
                        <button type="button" class="btn" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Delete Employee Modal -->
<div id="employeeDelete{{employee.id}}" class="modal fade" tabindex="-1"
    aria-labelledby="employeeDelete{{employee.id}}">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box" id="circleDelete">
                    <i class="fas fa-trash" id="circleDeleteIcon"></i>
                </div>
                <h4 class="modal-title w-100">Are you sure?</h4>
            </div>

            <div class="modal-body">
                <p>Do you really want to delete {{employee.first_name}}? <br>
                    This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <form action="{{ url_for('employees.delete_employee', employee_id=employee.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn" id="deleteButton">Delete</button>
                    <button type="button" class="btn" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}