<form action="{{ url_for('employees.add_employee') }}" method="post" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- first name -->
    <div class="mb-3">
        <input type="text" name="first_name" id="first_name" class="form-control form-control-sm"
            placeholder="First name" required>
    </div>

    <!-- last name -->
    <div class="mb-3">
        <input type="text" name="last_name" id="last_name" class="form-control form-control-sm"
            placeholder="Last name" required>
    </div>

    <!-- email -->
    <div class="mb-3">
        <input type="email" name="email" id="email" class="form-control form-control-sm"
            placeholder="Email" required>
    </div>

    <!-- phone number -->
    <div class="mb-3">
        <input type="text" name="phone_number" id="phone_number" class="form-control form-control-sm"
            placeholder="Phone number">
    </div>

    <!-- job -->
    <div class="mb-3">
        <select id="job_title" name="job_title" class="form-control form-control-sm">
            <option>Jobs</option>
            {% for job in jobs %}
            <option value="{{ job.title }}">{{ job.title }}
            </option>
            {% endfor %}
        </select>
    </div>

    <!-- buttons -->
    <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-warning">Add</button>
        <button type="button" class="btn" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>