{% extends 'auth_layout.html' %}

{% block app_content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <div class="message">
                <p class="email-sent-title"> Your password has been reset</p>
                <p class="link-txt">You can now log in using your new password.</p>
                <br>
                <hr>
                <p class="forgot_message"><br>
                    Click <a class="label-txt" href="{{ url_for('auth.login') }}">here</a> to login.
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}