{% extends 'layout.html' %}

{% block app_content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form action="" method="post" class="login100-form validate-form flex-sb flex-w">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <!-- title -->
                <span class="login100-form-title p-b-32 text-center">
                    Reset Password
                </span>

                <!-- password -->
                <label class="txt1 p-b-11" for="password">New Password</label>
                <div class="wrap-input100 validate-input m-b-12" data-validate="Invalid password">
                    <span class="btn-show-pass">
                        <i class="fas fa-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" id="password">
                    <span class="focus-input100"></span>
                </div>

                <!-- confirm password -->
                <label class="txt1 p-b-11" for="password">Confirm New Password</label>
                <div class="wrap-input100 validate-input m-b-12" data-validate="Invalid password">
                    <span class="btn-show-pass">
                        <i class="fas fa-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password_confirm" id="password_confirm">
                    <span class="focus-input100"></span>
                </div>

                <!-- errors -->
                <!-- TODO ubaciti da ne moze ista sifra -->
                <div class="message">
                    <span class="error_message">{{ error }}</span>
                </div>

                <!-- reset password -->
                <div class="container-login100-form-btn m-t-15">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <input class="login100-form-btn" id="submit" name="submit" type="submit" value="Reset Password">
                    </div>
                </div>
            </form>

            <br>
            <hr>

            <div class="row row-space p-t-20">
                <!-- login -->
                <a class="txt3" href="{{ url_for('login') }}">
                    <i class="fas fa-chevron-circle-left"></i>
                    Login
                </a>

                <!-- register -->
                <a class="txt3" href="{{ url_for('register') }}">
                    Sign Up
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}