{% extends 'auth_layout.html' %}

{% block app_content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form action="" method="post" class="login100-form validate-form flex-sb flex-w">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <!-- title -->
                <span class="login100-form-title p-b-32 text-center">
                    Forgot Password
                </span>

                <!-- email -->
                <label class="label-txt p-b-11" for="email">Email</label>
                <div class="wrap-input100 validate-input" data-validate="Invalid email">
                    <input class="input100" type="text" name="email" id="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="message">
                    <p class="forgot_message"><br>
                        We'll email you the instructions to reset your password.
                    </p> <br>
                </div>

                <!-- errors -->
                <div class="message">
                    <span class="error_message">{{ message }}</span>
                </div>

                <!-- reset request -->
                <div class="form-btn-container m-t-15">
                    <div class="wrap-form-btn">
                        <div class="form-btn-bg"></div>
                        <input class="form-btn" id="submit" name="submit" type="submit"
                               value="Request Password Reset">
                    </div>
                </div>
            </form>

            <br>
            <hr>

            <div class="row row-space p-t-20">
                <!-- login -->
                <a class="link-txt" href="{{ url_for('auth.login') }}">
                    <i class="fas fa-chevron-circle-left"></i>
                    Login
                </a>

                <!-- register -->
                <a class="link-txt" href="{{ url_for('auth.register') }}">
                    Sign Up
                    <i class="fas fa-chevron-circle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>

{% endblock %}