/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 100%;
  background-color: silver;
}

/* index */
.card-border {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border: 0px;
}

/*//////////////////////////////////////////////////////////////////
[ Employees ]*/

/* buttons - details, update, delete, profile */
li button {
  border-radius: 0.3rem !important;
}

/*//////////////////////////////////////////////////////////////////
[ Modals ]*/

/* editing */
.mb-3 label {
  white-space: nowrap;
  display: table-caption;
}

/* modal text */
.modal-confirm {
  color: #636363;
  width: 400px;
}

/* header */
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

/* content */
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

/* title */
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

/* body font color */
.modal-confirm .modal-body {
  color: #999;
}

/* footer */
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

/* buttons */
.modal-confirm .modal-footer a {
  color: #999;
}

/* icon box (icon on top) */
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
}

/* circles */
#circleAdd {
  border: 3px solid #ffc720;
}
#circleAddIcon {
  color: #ffca2c;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

#circleDetails {
  border: 3px solid #025ce2;
}
#circleDetailsIcon {
  color: #025ce2;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

#circleEdit {
  border: 3px solid #28a745;
}
#circleEditIcon {
  color: #28a745;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

#circleDelete {
  border: 3px solid #dc3545;
}
#circleDeleteIcon {
  color: #dc3545;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

/* icon inside icon box (on top) */
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

/* button active */
.modal-confirm .btn,
.modal-confirm .btn:active {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

/* cancel button */
#cancelButton {
  background: #c1c1c1;
}
#cancelButton:hover,
#cancelButton:focus,
#cancelButton:active {
  background: #a8a8a8;
}

/* update button color */
#updateButton {
  background: #28a745;
}
#updateButton:hover,
#updateButton:focus,
#updateButton:active {
  background: #218838;
}

/* delete button color */
#deleteButton {
  background: #dc3545;
}
#deleteButton:hover,
#deleteButton:focus,
#deleteButton:active {
  background: #c82333;
}
