{% extends 'auth/auth_layout.html' %}

{% block app_content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <div class="message">
                <p class="email-sent-title"> Email has been sent</p>
                <p class="bottom-question-txt">Check your email for the instructions to reset your password.</p>
                <br>
                <hr>
                <p class="forgot_message"><br>
                    You may close this page or click
                    <a class="link-txt" href="{{ url_for('auth.login') }}">here</a> to go to login.
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}