{% extends 'base.html' %}

{% block app_content %}

<!-- dashboard contents -->
<div class="container-fluid">
    <div class="row mt-3">

        <!-- left side -->
        <div class="col-lg-3 col-md-3">
            <div class="list-group">
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#employeeAdd">Add Employee</a>
                <a href="{{ url_for('jobs.jobs_list') }}" class="btn btn-info">View Jobs</a>
            </div>
        </div>


        <!-- right side table -->
        <div class="col-lg-9 mx-auto">
            <div class="card border-0 shadow">

                <!-- Responsive table -->
                <div class="table-responsive">
                    <table class="table m-0 table-striped table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone number</th>
                            <th scope="col">Job</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.first_name }}</td>
                            <td>{{ employee.last_name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>
                                {% if employee.phone_number %}
                                {{ employee.phone_number }}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if employee.job %}
                                {{ employee.job }}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td>
                                <!-- action buttons -->
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#employeeDetails{{employee.id}}" data-placement="top"
                                                title="Details">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm" data-toggle="modal"
                                                data-target="#employeeUpdate{{employee.id}}" data-placement="top"
                                                title="Update">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm" data-toggle="modal"
                                                data-target="#employeeDelete{{employee.id}}" data-placement="top"
                                                title="Delete" {% if employee==current_user %} disabled {% endif %}>
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-warning btn-sm" data-toggle="modal"
                                                data-target="#" data-placement="top"
                                                title="Profile">
                                            <i class="fas fa-user"></i>
                                        </button>
                                    </li>


                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- dashboard contents -->

{% include 'employee_modals.html' %}

{% endblock %}