{% extends 'base.html' %}

{% block app_content %}
<div class="container-fluid">

    <div class="row mt-3">

        <div class="col-lg-3 col-md-3">
            <div class="card card-border">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ num_of_employees }}
                        <small class="text-muted">
                            {% if num_of_employees == 1 %} Employee {% else %} Employees {% endif %}
                        </small>
                    </h4>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{url_for('employees.employees_list')}}"
                        class="list-group-item list-group-item-primary text-center">
                        View all
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3">
            <div class="card card-border">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ num_of_jobs }}
                        <small class="text-muted">
                            {% if num_of_jobs == 1 %} Job {% else %} Jobs {% endif %}
                        </small>
                    </h4>
                </div>
                <div class="list-group list-group-flush">
                    <a href="{{url_for('jobs.jobs_list')}}" class="list-group-item list-group-item-primary text-center">
                        View all
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}