{% extends 'layout.html' %}

{% block app_content %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

            <form action="" method="post" class="login100-form validate-form flex-sb flex-w">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <!-- title -->
                <span class="login100-form-title p-b-32 text-center">
                    Register
                </span>

                <div class="row row-space">
                    <!-- first name -->
                    <div class="col-2">
                        <label class="txt1 p-b-11" for="first_name">First name</label>
                        <div class="wrap-input100 input-group validate-input" data-validate="Invalid name">
                            <input class="input100" type="text" name="first_name" id="first_name">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <!-- last name -->
                    <div class="col-2">

                        <label class="txt1 p-b-11" for="last_name">Last name</label>
                        <div class="wrap-input100 input-group validate-input" data-validate="Invalid name">
                            <input class="input100" type="text" name="last_name" id="last_name">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>

                <!-- email -->
                <label class="txt1 p-b-11" for="email">Email</label>
                <div class="wrap-input100 input-group validate-input m-b-30" data-validate="Invalid email">
                    <input class="input100" type="text" name="email" id="email">
                    <span class="focus-input100"></span>
                </div>

                <!-- passwords -->
                <div class="row row-space">
                    <div class="col-2">
                        <label class="txt1 p-b-11" for="password">Password</label>
                        <div class="wrap-input100 input-group validate-input" data-validate="Invalid password">
                            <input class="input100" type="password" name="password" id="password">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <label class="txt1 p-b-11" for="password_confirm">Confirm password</label>
                        <div class="wrap-input100 input-group validate-input" data-validate="Invalid password">
                            <input class="input100" type="password" name="password_confirm" id="password_confirm">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                </div>

                <!-- errors -->
                <div class="message">
                    <span class="error_message">{{ error }}</span>
                </div>

                <!-- login -->
                <div class="container-login100-form-btn m-t-15">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <input class="login100-form-btn" id="submit" name="submit" type="submit" value="Register">
                    </div>
                </div>

            </form>

            <br>
            <hr>

            <!-- register -->
            <div class="text-center p-t-20">
                <span class="txt2">
                    Already have an account?
                </span>
                <a class="txt3" href="{{ url_for('login') }}">
                    Login
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}